# Propósito da análise

Com essa base de dados espero obter informações sobre:

- Ataques de tubarões nos últimos 50 anos
- Realizando qual atividade as pessoas sofreram mais ataques
- Desses ataques, quais foram fatais
- Dos que não foram fatais, quais deixaram sequelas
- Qual país tem mais ataques de tubarão

## importando bibliotecas e a base de dados

In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
df=pd.read_csv("../../shark_project/shark_attack/attacks.csv", encoding='latin1')

## Explorando

In [3]:
df

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.shape

(25723, 24)

In [5]:
df.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB

In [7]:
df.isnull().sum()

Case Number               17021
Date                      19421
Year                      19423
Type                      19425
Country                   19471
Area                      19876
Location                  19961
Activity                  19965
Name                      19631
Sex                       19986
Age                       22252
Injury                    19449
Fatal (Y/N)               19960
Time                      22775
Species                   22259
Investigator or Source    19438
pdf                       19421
href formula              19422
href                      19421
Case Number.1             19421
Case Number.2             19421
original order            19414
Unnamed: 22               25722
Unnamed: 23               25721
dtype: int64

In [8]:
# O que as últimas colunas contem?
df[['Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22', 'Unnamed: 23']].head()

  Case Number.1 Case Number.2  original order Unnamed: 22 Unnamed: 23
0    2018.06.25    2018.06.25          6303.0         NaN         NaN
1    2018.06.18    2018.06.18          6302.0         NaN         NaN
2    2018.06.09    2018.06.09          6301.0         NaN         NaN
3    2018.06.08    2018.06.08          6300.0         NaN         NaN
4    2018.06.04    2018.06.04          6299.0         NaN         NaN

In [9]:
# Essas colunas não contém informações relevantes para a minha análise e podem ser removidas

In [10]:
# Existem linhas duplicadas?
print('Linhas duplicadas:' )
print(df.duplicated().sum())

Linhas duplicadas:
19411

# Limpeza

## Remover duplicatas

In [11]:
shark_attack = df.drop_duplicates()
print('Número de duplicatas removidas: ', len(df) - len(shark_attack))

Número de duplicatas removidas:  19411

In [12]:
shark_attack.shape

(6312, 24)

## Remover colunas irrelevantes

In [13]:
shark_attack = shark_attack.drop(['Case Number', 'Date','Location','Name','Sex ','Age','Time', 'Species ','Investigator or Source', 'pdf', 'href formula', 'href','Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22', 'Unnamed: 23'], axis =1)

In [14]:
shark_attack.columns

Index(['Year', 'Type', 'Country', 'Area', 'Activity', 'Injury', 'Fatal (Y/N)'], dtype='object')

In [15]:
shark_attack.loc[:, "Country":"Activity"] = shark_attack.loc[:, "Country":"Activity"].transform(lambda series: series.str.strip().str.title())

In [16]:
shark_attack.head(10)

,Year,Type,Country,Area,Activity,Injury,Fatal (Y/N)
0,2018.0,Boating,Usa,California,Paddling,"No injury to occupant, outrigger canoe and pad...",N
1,2018.0,Unprovoked,Usa,Georgia,Standing,Minor injury to left thigh,N
2,2018.0,Invalid,Usa,Hawaii,Surfing,Injury to left lower leg from surfboard skeg,N
3,2018.0,Unprovoked,Australia,New South Wales,Surfing,Minor injury to lower leg,N
4,2018.0,Provoked,Mexico,Colima,Free Diving,Lacerations to leg & hand shark PROVOKED INCIDENT,N
5,2018.0,Unprovoked,Australia,New South Wales,Kite Surfing,"No injury, board bitten",N
6,2018.0,Unprovoked,Brazil,Pernambuco,Swimming,FATAL,Y
7,2018.0,Unprovoked,Usa,Florida,Fishing,Minor injury to foot. PROVOKED INCIDENT,N
8,2018.0,Unprovoked,Usa,Florida,Walking,Lower left leg bitten,N
9,2018.0,Unprovoked,Usa,Florida,Standing,Minor injury to foot,N

In [17]:
shark_attack = shark_attack.rename(columns={'Fatal (Y/N)': 'Fatal'})

In [18]:
shark_attack.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6312 entries, 0 to 25722
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Year      6300 non-null   float64
 1   Type      6298 non-null   object
 2   Country   6252 non-null   object
 3   Area      5847 non-null   object
 4   Activity  5758 non-null   object
 5   Injury    6274 non-null   object
 6   Fatal     5763 non-null   object
dtypes: float64(1), object(6)
memory usage: 394.5+ KB

In [19]:
shark_attack.isnull().sum()

Year         12
Type         14
Country      60
Area        465
Activity    554
Injury       38
Fatal       549
dtype: int64

## Coluna Year

In [20]:
shark_attack['Year'].unique()

array([2018., 2017.,   nan, 2016., 2015., 2014., 2013., 2012., 2011.,
       2010., 2009., 2008., 2007., 2006., 2005., 2004., 2003., 2002.,
       2001., 2000., 1999., 1998., 1997., 1996., 1995., 1984., 1994.,
       1993., 1992., 1991., 1990., 1989., 1969., 1988., 1987., 1986.,
       1985., 1983., 1982., 1981., 1980., 1979., 1978., 1977., 1976.,
       1975., 1974., 1973., 1972., 1971., 1970., 1968., 1967., 1966.,
       1965., 1964., 1963., 1962., 1961., 1960., 1959., 1958., 1957.,
       1956., 1955., 1954., 1953., 1952., 1951., 1950., 1949., 1948.,
       1848., 1947., 1946., 1945., 1944., 1943., 1942., 1941., 1940.,
       1939., 1938., 1937., 1936., 1935., 1934., 1933., 1932., 1931.,
       1930., 1929., 1928., 1927., 1926., 1925., 1924., 1923., 1922.,
       1921., 1920., 1919., 1918., 1917., 1916., 1915., 1914., 1913.,
       1912., 1911., 1910., 1909., 1908., 1907., 1906., 1905., 1904.,
       1903., 1902., 1901., 1900., 1899., 1898., 1897., 1896., 1895.,
       1894., 1893., 1892., 1891., 1890., 1889., 1888., 1887., 1886.,
       1885., 1884., 1883., 1882., 1881., 1880., 1879., 1878., 1877.,
       1876., 1875., 1874., 1873., 1872., 1871., 1870., 1869., 1868.,
       1867., 1866., 1865., 1864., 1863., 1862., 1861., 1860., 1859.,
       1858., 1857., 1856., 1855., 1853., 1852., 1851., 1850., 1849.,
       1847., 1846., 1845., 1844., 1842., 1841., 1840., 1839., 1837.,
       1836., 1835., 1834., 1832., 1831., 1830., 1829., 1828., 1827.,
       1826., 1825., 1823., 1822., 1819., 1818., 1817., 1816., 1815.,
       1812., 1811., 1810., 1808., 1807., 1805., 1804., 1803., 1802.,
       1801., 1800., 1797., 1792., 1791., 1788., 1787., 1786., 1785.,
       1784., 1783., 1780., 1779., 1776., 1771., 1767., 1764., 1758.,
       1753., 1751., 1749., 1755., 1748., 1742., 1738., 1733., 1723.,
       1721., 1703., 1700., 1642., 1638., 1637., 1617., 1595., 1580.,
       1555., 1554., 1543.,  500.,   77.,    5.,    0.])

In [21]:
shark_attack.Year.isnull().sum()

12

In [22]:
shark_attack = shark_attack.dropna(subset=['Year'])

In [23]:
shark_attack.Year.isnull().sum()

0

In [24]:
shark_attack.Year = shark_attack.Year.astype(np.int64)
shark_attack['Year'].unique()

array([2018, 2017, 2016, 2015, 2014, 2013, 2012, 2011, 2010, 2009, 2008,
       2007, 2006, 2005, 2004, 2003, 2002, 2001, 2000, 1999, 1998, 1997,
       1996, 1995, 1984, 1994, 1993, 1992, 1991, 1990, 1989, 1969, 1988,
       1987, 1986, 1985, 1983, 1982, 1981, 1980, 1979, 1978, 1977, 1976,
       1975, 1974, 1973, 1972, 1971, 1970, 1968, 1967, 1966, 1965, 1964,
       1963, 1962, 1961, 1960, 1959, 1958, 1957, 1956, 1955, 1954, 1953,
       1952, 1951, 1950, 1949, 1948, 1848, 1947, 1946, 1945, 1944, 1943,
       1942, 1941, 1940, 1939, 1938, 1937, 1936, 1935, 1934, 1933, 1932,
       1931, 1930, 1929, 1928, 1927, 1926, 1925, 1924, 1923, 1922, 1921,
       1920, 1919, 1918, 1917, 1916, 1915, 1914, 1913, 1912, 1911, 1910,
       1909, 1908, 1907, 1906, 1905, 1904, 1903, 1902, 1901, 1900, 1899,
       1898, 1897, 1896, 1895, 1894, 1893, 1892, 1891, 1890, 1889, 1888,
       1887, 1886, 1885, 1884, 1883, 1882, 1881, 1880, 1879, 1878, 1877,
       1876, 1875, 1874, 1873, 1872, 1871, 1870, 1869, 1868, 1867, 1866,
       1865, 1864, 1863, 1862, 1861, 1860, 1859, 1858, 1857, 1856, 1855,
       1853, 1852, 1851, 1850, 1849, 1847, 1846, 1845, 1844, 1842, 1841,
       1840, 1839, 1837, 1836, 1835, 1834, 1832, 1831, 1830, 1829, 1828,
       1827, 1826, 1825, 1823, 1822, 1819, 1818, 1817, 1816, 1815, 1812,
       1811, 1810, 1808, 1807, 1805, 1804, 1803, 1802, 1801, 1800, 1797,
       1792, 1791, 1788, 1787, 1786, 1785, 1784, 1783, 1780, 1779, 1776,
       1771, 1767, 1764, 1758, 1753, 1751, 1749, 1755, 1748, 1742, 1738,
       1733, 1723, 1721, 1703, 1700, 1642, 1638, 1637, 1617, 1595, 1580,
       1555, 1554, 1543,  500,   77,    5,    0], dtype=int64)

In [25]:
shark_attack = shark_attack[shark_attack['Year'] > 1967] 

shark_attack

,Year,Type,Country,Area,Activity,Injury,Fatal
0,2018,Boating,Usa,California,Paddling,"No injury to occupant, outrigger canoe and pad...",N
1,2018,Unprovoked,Usa,Georgia,Standing,Minor injury to left thigh,N
2,2018,Invalid,Usa,Hawaii,Surfing,Injury to left lower leg from surfboard skeg,N
3,2018,Unprovoked,Australia,New South Wales,Surfing,Minor injury to lower leg,N
4,2018,Provoked,Mexico,Colima,Free Diving,Lacerations to leg & hand shark PROVOKED INCIDENT,N
...,...,...,...,...,...,...,...
3488,1968,Unprovoked,Papua New Guinea,Morobe Province,Swimming,FATAL,Y
3489,1968,Unprovoked,Costa Rica,Limón Province,Swimming After His Canoe Capsized,FATAL,Y
3490,1968,Invalid,Usa,Florida,Diving,"Recovered, said to involve a 1m nurse shark",NaN
3491,1968,Invalid,Usa,Florida,Surfing,NaN,NaN
3888,1971,Unprovoked,Turkey,Anatolia,Swimming,Left leg injured,N

## Coluna Activity

In [26]:
shark_attack["Activity"].unique()

array(['Paddling', 'Standing', 'Surfing', 'Free Diving', 'Kite Surfing',
       'Swimming', 'Fishing', 'Walking', 'Feeding Sharks',
       'Boogie Boarding', 'Scuba Diving', 'Paddle-Skiing',
       'Body Boarding', 'Windsurfing', 'Stand-Up Paddleboarding',
       'Wading', 'Kayak Fishing For Sharks', 'Cleaning Fish',
       'Snorkeling', 'Spearfishing', nan, 'Diving', 'Fishing / Wading',
       '2 Boats Capsized', 'Night Bathing', 'Kayaking / Fishing',
       'Kayaking', 'Body Surfing', 'Swimming, Poaching Abalone',
       'Canoeing', 'Sup', 'Skimboarding', 'Touching A Shark',
       'Attempting To Lasso A Shark', 'Photo Shoot', 'Paddle Boarding',
       'Kakaying', 'Washing Hands', 'Grabbing Shark For A Selfie',
       'Kayak Fishing', 'Tagging Sharks', 'Surf Skiing', 'Surf Fishing',
       'Floating', 'Cage Diving', 'Surfng', 'Sup Foil Boarding',
       'Lobstering', 'Fishing In Alabama Deep Fishing Rodeo',
       'Fishing For Squid', 'Fishing For Sharks', 'Floating In Tube',
       'Teasing A Shark', 'Surf-Skiing', 'Diving For Beche-De-Mer',
       'Feeding Stingrays?', 'Sea Disaster', 'Lobster Fishing',
       'Swimming / Wading', 'Fishing For Shrimp', 'Photographing Fish',
       'Scallop Diving On Hookah', 'Treading Water',
       'Playing In The Water', 'Body Surfing?', 'Playing',
       'Attempting To Rescue A Shark', 'Photographing The Shark',
       'Standing / Snorkeling', 'Hand Feeding Sharks',
       'Sitting In The Water', 'Transatlantic Rowing', 'Bodysurfing',
       'Rowing', 'Shark Fishing', 'Surfing & Filming Dolphins', 'Filming',
       'Swimming After Falling Overboard', 'Diving / Filming',
       'Fishing For Blue Sharks', 'Standing In Inner Tube',
       'Body Surfing Or Boogie Boarding', 'Feeding Fish',
       'Playing With An Air Mattress', 'Kite Boarding', 'Shark Diving',
       'Petting A Shark', 'Kneeling In The Water', 'Fell Into The Water',
       'Shark Watching', 'Diving For Lobsters',
       'Scuba Diving / Culling Lionfish', 'Kitesurfing', 'Sailing',
       'Spearfishing / Free Diving',
       'Free Diving / Photographing Pilot Whales',
       'Filming A Documentary',
       'Attempting To Remove Fishing Net From Submerged Object',
       'Kiteboarding', 'Diving For Crayfish', 'Swimming / Snorkeling',
       'Diving For Abalone', 'Casting A Net', 'Marathon Swimming',
       'Longline Fishing For Sharks', 'Wrangling A Shark',
       'Attempting To Free The Shark', 'Walking In Surf',
       'Swimming & Snorkeling', 'Playing In The Surf', 'Fly Fishing',
       "Fishing - 'Tag & Release'",
       'Swimming To Shore With Floatioon Devices After Boat Engine Conked Out',
       'Dragging Stranded Shark Into Deeper Water', 'Bathing',
       'Bodyboarding', 'Swimming Or Boogie Boarding',
       'Wading Or Swimming',
       'Attempting To Rescue An Injured & Beached Shark',
       'Free Diving / Spearfishing', 'Crayfishing',
       'Diving, Feeding Sharks',
       'Attempting To Kite Surf From Egypt To Saudi Arabia',
       'Fishing (Illegally)', 'Diving, Photographing Sharks',
       'Wade Fishing', 'Jumping In The Waves',
       'Standing, Collecting Sea Stars', 'Swimming Or Snorkeling',
       'Kayaking Or Wave Skiing', 'Jet Skiing',
       'Standing Or Boogie Boardin', 'Washing Sand Off A Speared Fish',
       'Standing, Holding Shark Pup', 'Diving / Fishing', 'Wakeboarding',
       'Shark Fishing On The Ricardo Astorga',
       'Shark Fishing On The Don Agustín-Vi.', 'Attempting To Fix Motor',
       'Swimming /  Whale Watching',
       'Swimming After Boat Became Disabled', 'Rescuing',
       'Measuring Sharks', 'Swimming / Treading Water',
       'Surf Fishing / Wading', 'Spearfishing (Free Diving)',
       'Paddling On Kneeboard', 'Swimming To Shore From Capsized Kayak',
       'Paddle-Boarding',
       'Swimming, Attempting To Rescue A Girl  Believed To Be Drowning',
       'Washing His Feet', 'Paddle-Surfing', 'Crawling',
       'Diving, But On The Surface When Bitten By The Shark',
       'Air Disaster', 'Crabbing', 'Yacht Race',
       'Sinking Of The Cargo Ship Mark Jason',
       'Fishing Boat Swamped In Storm', 'Swimming, Towing Surfboard',
       'Swimming Or Surfing', 'Rowing An Inflatable Dinghy',
       'Night Diving', 'Free-Diving',
       'Walking Out Of The Water After Surfing', 'Fishing From Surfski',
       "Accidentally Stood On Hooked Shark'S Tail Before Attempting To Gut It",
       'Attempting To Chase Shark Out To Sea', 'Fishing For Snapper',
       'Removing Fish From A Trap',
       'The 426-Ton Cargo Ship Mia, Laden With Cement, Capsized In Heavy Seas',
       'Wading?', 'Jumping',
       'Floating Near Boat & Observing Bioluminesce',
       'Jumped Into The Water', 'Surf Paddling', 'Murder',
       'Removing Hook From Shark', 'Reviving A Sedated Shark',
       'Shark Tagging', 'Swimming / Jumping Off A Jetty',
       'Playing On A Sandbar', 'Shrimping', 'Swimming / Body Surfing',
       'Playing Soccer In The Water', 'Free Diving / Modeling',
       'Diving / Kissing The Shark', 'Lifesaving Drill',
       'Touching Sharks',
       'Competing In The Woodvale Atlantic Rowing Race', 'Night Surfing',
       'Standing / Surfing', 'Treading Water/ Surfing',
       'Removing Shark From Net',
       'Boogie Boarding, Kicked At Object In The Water',
       'Scuba Diving In Aquarium Tank', 'Holding Onto An Inflatable Boat',
       'Swimming With Boogie Board', "Crouching In 2' Of Water",
       'Diving In Aquarium Display Tank',
       'Attempting To Drive Shark Away From Sailing Regatta',
       'Fishing From A Kayak',
       'Swept Out To Sea By The Tsunami, She Clung  To A Log For 24 Hours',
       'Scurfing (Surfboard Being  Towed Behind A Boat)',
       'Chumming For White Sharks', 'Spearfishing/ Filming',
       'Diving & Fishing With Net',
       'Wading / Fishing & Carrying A Bag Of Fish',
       'Fishing For Squid Aboard The Trawler Shikishima-Maru When The Shark Leapt Into The Boat',
       'In Water With Diving Seabirds', 'Swimming, Poaching Perlemoen',
       'Boogie-Boarding / Swimming', 'Free Diving & Spearfishing',
       'Tandem Surfing',
       'Five Men On Makeshift Raft After Their 10 M Fishing Boat  Capsized And Sank In Rough Seas. Survivors Rescued After  7.5 Hours In The Water',
       'Kayaking (Returning From Spearfishing)',
       'Air Disaster. Flash Airlines Boeing 737 Crashed Into The Red Sea',
       'Swimming / Shipwreck', 'Surfing Amid A Shoal Of Sharks',
       'Swimming To Shore From Boat Or Kayak', 'Sitting On Surfboard',
       'Wading Near A Fishing Net', 'Wading To Shore From His Boat',
       'Standing, Stepped On Shark', 'Wade-Fishing',
       'Swimming, Wearing Black Wetsuit & Swim Fins',
       'Walking, Carrying Surfboard & Stepped On Shark',
       'Swimming With Pod Of Dolphins', 'Killing  Sharks',
       'Swimming (Using A Float)', 'Petting Captive Sharks', 'Unknown',
       "Fishing, Standing In 2' Of Water", 'Fishing From Surfboard',
       'Boogie Boarding Or Surfing',
       'Wading, When He Stepped On The Shark',
       'Attempting To Retreive A Dinghy',
       'Snorkeling (Filming The Sardine Run)', 'Floating On A Raft',
       'Fishing, Removing The Shark From His Line',
       'Playing In The Surf With His 2 Dogs', 'Collecting Beche-De-Mer',
       'Fishing From Prawn Trawler',
       'Scallop Diving (Using Surface-Supplied Air & A Pod)',
       'Fishing (Drowned 2-Apr-2002)',
       'Surfing, But Standing In Water Alongside Board', 'Body-Boarding',
       'Swimming /  Boogie Boarding', 'Capsized Fishing Boat',
       'Kite-Boarding',
       'Surfing, Fell Off Surfboard & Stepped On The Shark.',
       'Wreck / Technical Diving', 'Walking In Shallows',
       'Fell Off Banana Boat', 'Floating Face-Down In Knee-Deep Water',
       'Hiking On The Beach', 'Spearfishing, Carrying His Catch',
       'Standing Alongside Surfboard', 'Batin',
       'Attempting To Catch A Crocodile',
       "Sinking Of The 40' Esperanza Off St. Maartin With 36 Refugees On Board",
       'Fishing For Whiting', 'Swimming Back From Anchored Sailboat',
       'Diving For Sea Urchins', 'Diving (Shell Maintenance)',
       'Shipwrecked', 'Fell Onto Dead Shark', 'Conducting Research',
       'Swimming Out To Porpoises',
       'Windsurfing, But Sitting On His Board', 'Surfing / Wading',
       'Attempting To Illegally Enter The Usa',
       'Spearfishing, Holding Mesh Bag With Speared Fish',
       'Air Disaster - Piper Aircraft Crashed Into The Sea, Killing All On Board',
       'Boogie Boarding / Wading', 'Feeding Prawns To Captive Sharks',
       'Canoe With 3 Men Onboard Sank', 'Fishing For Tarpon',
       'Surfing (Sitting On His Board)',
       'Spearfishing, But Swimming At Surface',
       'Surfing, Lying On Surfboard', 'Wading To Shore After Surfing',
       'Wading With Surfboard', "Lying Prone In 2' Of Water",
       'Spearfishing & Holding Catch', 'Swimming With Dolphins',
       'Wading In School Of Baitfish', 'Adrift In A Life Jacket',
       'Splashing / Wading',
       'Swimming After Being Swept Into Sea By A Large Wave',
       'Spearfishing & Diving For Paua',
       "Scientific Research (Dr. Sonny Gruber'S Student)",
       'Swimming, Towing A Kayak', 'Body Surfing Or Body Boarding',
       'Swimming Near Pod Of Whales', 'Cruising', 'Paddle Skiing',
       'Inflatable Boat', 'Splashing', 'Fishing For Tuna',
       'Fishing / Washing Bait Off Hands', 'Moving A Shark In A Net',
       'Surfing (Or Body Boarding)', 'Free Diving For Abalone',
       'Swimming / Surfing', 'Towing Rubber Dinghy',
       'Surfing (Lying Prone On His Board)',
       'Snorkeling \x96 Hunting Crayfish And Abalone',
       'Swimming Or Paddle Boarding',
       'Spearfishing On Scuba & Transferring Fish Onto A Stringer',
       'Scuba Diving (Submerged Riding A Scooter)',
       'Body Boarding Or Surfing', 'Fishingat', 'Walking / Surfing',
       'Floating On Raft', 'Wading / Surfing', 'Fishing For Octopus',
       'Spearfishing / Night Diving', 'Body Surfing, Stood Up On Sandbar',
       'Watching Seals', 'Attempting To Attract Dolphins',
       'Surfing / Swimming', 'Free Diving With A Pod Of Dolphins',
       'Tech Diving', 'Shell Diving', 'Swimming Breast Stoke',
       'Fishing In Knee-Deep Water',
       'Dived Naked Into The Water On A Bet', 'Swimming In Fish Tank',
       'Boeing 757 Enroute From Porta Plata Plunged Into The Sea',
       'Swimming With Mask & Snorkel', 'Chumming For Sharks',
       'Diving, Gathering Shellfish', 'Fell Off Aircraft Carrier',
       'Playing / Standing',
       'Abalone Diving Using Hookah (Near Calving Whales)',
       'Abalone Diving Using Hookah (Resting On The Surface)',
       'On A Float', '"Riding Waves On A Board"',
       'Jumped Off Surfboard & Landed On The Shark',
       'Scuba Diving (Ascending Using Scooter)', 'Playing / Jumping',
       'Sleeping In Anchored Boat', 'Scuba Diving For Bivalves',
       'Wind Surfing', 'Surfing, Sitting On Board', 'Murder Victim',
       'Commercial Diver (Submerged Or Treading Water)',
       'Surfing, Paddling Seawards', 'Adrift On Refugee Raft',
       'Jumped Off Rocks Into White Water', 'Freediving For Seashells',
       'Swimming Alongside Noaa Research Vessel Discoverer',
       'Removing Shark From Tank In Nightclub',
       'Swimming, After Falling Off Towed Kneeboard',
       'Playing Volleyball With Friends', 'Hookah Diving',
       'Surfing, Paddling Shorewards', 'Stamding',
       'Watching The Shark Feeding On A Dead Pinniped',
       'Riding Floatation Device', 'Free Diving For Abalone (Ascending)',
       'Fishing For Lobsters', 'Oyster Fishing',
       'Paddling On Surfboard Or Body Board',
       'Scuba Diving At Seal Colony', 'Floating On His Back',
       'Paddling On Surfboard', 'Free Diving & Spearfishing (Ascending)',
       '',
       'Standing In Waist-Deep Water, Helping His Father Tend A Gill Net Containing Dead Fish',
       'Lying On Surfboard', 'Scuba Diving (Submerged)',
       'Hookah Diving For Sea Urchins',
       'Snorkeling, Carrying A Speared Fish In Her Hand',
       'Fell From Cliff While Fishing & Disappeared In Strong Current',
       'Fisherman',
       "Zosimo & His Son, Jeffrey Popa, Failed To Return From Overnight Fishing Trip In A 14' Boat, Boat Apparently Sank, Debris Recovered But His Son & Boat Were Never Found",
       'Preparing To Fish For Jack-Mackerel', 'Scuba Diving & Filming',
       'Hookah Diving For Pen Shells',
       'Fishing For Yellowtail, Seriola Quinqueradiata',
       'Diving For Pen Shells',
       'Fishing From Rocks, Swept Out To Sea By Large Wave & Treading Water',
       'Finning The Shark That Bit Him',
       'Swimming From Makeshift Raft  To Life Vest After Fishing Boat Sank',
       'Swimming Behind Sailboat', 'Surfing, Collided With Shark',
       'Surfing (Or Sailboarding)', 'Scuba Diving (But On Surface)',
       'Free Diving / Spearfishing, From Paddleboard & Floating On The Surface',
       'Snorkeling, Possibly Holding A Fish', 'Resting On Surfboard',
       'Lying On Surfboard & Paddling', 'Free Diving For Trochus',
       'Scuba Diving & Spearfishing', 'Board Sailing',
       "On Board 51' Fishing Vessel One Ki",
       'Wading, Knocked Down & Swept Away By Large Waves',
       'Swimming In Canal', "Fishing, Stepped On Hooked Shark'S Head",
       'Observing A Shark Feeding On A Carcass Of A Humpback Whale',
       'Hookah Diving For Abalone (Descending)', "Filming 5' Blue Shark",
       "Fell Off Surfboard 20' From Shore",
       'Windsurfing (Urinating On His Board)',
       'Scuba Diving, But Swimming On Surface',
       'Swimming In Strong Current With 3 Others When He Disappeared',
       'Surfing With Dolphins', 'Scuba Diving, Hand Feeding Sharks',
       'Spearfishing Using Scuba & Trailing A String Of Bleeding Fish',
       'Skindiving',
       'The Christie V Sank On 11/6/1988, Survivors Were Adrift On A Dinghy',
       'The Mv Dona Marilyn Sank In Typhoon Unsang With The Loss Of 389 Lives',
       "Diving In Sharkey'S Reef Restaurant\x92S Aquarium",
       'Spearfishing On Scuba', 'Sittting In Water With His Child',
       'Surfing / Treading Water', 'Pêcheur De Bichiques',
       "Onboard 21' Powerboat That Capsized In Rough Seas",
       'Lying Atop Surfboard', 'Drift Fishing',
       'Fell Overboard  From The Taiwanese Fishing Trawler Lien Cheng Feu',
       "Attempting To Lasso Shark'S Tail",
       'Returning To Shore, Collided With Shark',
       'Ferry Boat Dona Paz With 4431 Passengers Exploded & Caught Fire When She Collided With An  Oil Tanker',
       'Vessel Caught Fire & Capsized, Survivors In The Water',
       'Scuba Diving For Scallops', 'Dropping Anchor',
       'Swimming From Shore To Anchored Sailboat',
       'The Inter-Island Ferry Vula Sank In Heavy Weather',
       'Jumped Into The Water From A Cliff', 'Boat',
       'Adrift After Ditching Plane In The Sea',
       'Free Diving  & Spearfishing (Submerged)', 'Nsb Meshing',
       'Racing Ski', 'Fishing, Fell From Rocks & Disappeared',
       'Hookah Diving For Abalone',
       'Floating On Inner Tube After Diving For Lobster',
       'Free Diving & Spearfishing (Descending)',
       'Bottom Fishing For Lingcod & Had Hooked A Fish',
       'Playing In Knee-Deep Water',
       'Surfing, But Lying Prone On His Board',
       'Free Diving For Scallops',
       'Scuba Diving For Lobster (At Surface)',
       'Investigating Shark Sighting',
       'Sailing On Catamaran & Fell Into The Water',
       'Surfing Or Body Surfing', 'Free Diving , But Surfacing',
       'Boat Capsized?',
       'Sea Disaster, Foundering Of The Cargo Vessle M/V Dorolonda',
       "During A Shark Fishing Tournament, The 18' Boatem Was Capsized By Waves, Throwing 3 Men Into The Water",
       'Towing Her Sister On Plastic Ski Board', 'Steinhart Aquarium',
       'Scuba Diving For Abalone', 'Ferry Boat Sank',
       'Swimming From The New Venture',
       '14 M Prawn Trawler New Venture Capsized  & Sank In Heavy Seas Three People In The Water',
       'Floating On Air Mattress',
       'Surfing & Dangling Foot In Water Amid Baitfish', 'Water-Skiing',
       'Paddleskiing', 'Ran Into The Water', 'In Waist-Deep Water',
       'Free Diving For Abalone From Zodiac (Submerged)',
       'Sailboarding, Fell Into Water 100 Yards Outside The Breakwater',
       'Fishing On A Boat', 'Spearfishing, But Swimming On Surface',
       'Inspecting Teeth Of Supposedly Dead (Hooked & Shot) Shark',
       "Diving To Untangle A Crab Trap Line From Boat'S Propeller",
       "16' Catamaran Capsized Previous Night, Occupants Stayed With Wreckage Until Morning, Then Attempted To Swim Ashore",
       'Snorkeling On Surface', 'Catching Sardines',
       'Scuba Diving, Reportedly Also Spearfishing',
       'Foundering Of The Israeli Freighter Mezada', 'Standing / Wading',
       'Free Diving Spearfishing', 'Exercising His Dog In The Shallows',
       'Commercial Spearfishing', 'Free Diving / Spearfishing,',
       'Diving In Tuna Net', 'Resting On Body Board', 'Skin Diving',
       'Sinking Of The Ferryboat Don Juan',
       'Sinking Of The Ferryboat Bongbong 1', 'Gaffing Netted Shark',
       'Freedom Swimming', 'Murdered By Thai Pirates',
       'Floating With Life Preserver After His Boat Foundered',
       'Floating On Inner Tube Raft',
       "Explosion Destroyed 28' Boat, Survivors In The Water",
       'Fishing For Mackerel',
       'Swimming, After Single-Engine Aircraft Went Down In The Sea',
       'Fishing For Bottom Fish', 'Floating On An Inflatable Raft',
       'Free Diving For Abalone (Surfacing)', "40' Fishing Boat Sank",
       'Spearfishing / Scuba Diving', 'Collecting Fish From Net',
       'Fishing For Yellowtail',
       'Their 9 M Launch Was Run Down By A 25,000-Ton Japanese Freighter  On The Night Of 3-11-1977 & They Drifted, Clinging To An Icebox For 2 Days',
       "Pushed Surfmat Of A Young Girl Out Of The Shark'S Path, Drawing Shark'S Attention To His Own Board",
       'Hookah Diving For Abalone (Submerged)',
       'Thrashing The Water / Imitating The Shark Victim From "Jaws"',
       'Fishing For White Shark', 'Shipwreck', 'Skindiving,',
       '3,909-Ton Panamanian Freighter Chieh Lee Sank In A Typhoon',
       'Surfing, Fell Off Surfboard',
       "Sitting In Bow Of Her Father'S 5 M Boat",
       'Competing In A Light Tackle Game Fishing',
       'Fishing For Snoek & Yellowtail',
       'Attempting To Drive Shark Away From The Beach',
       'Filming & Feeding Captive Sharks',
       'Floating On A Small Orange Raft',
       'Scuba Diving For Abalone (At Surface)', 'Swimming Near His Boat',
       'Spearfishing Competition', 'Floating In Inner Tube',
       'Diving & Force-Feeding The Shark',
       'Attempting To Drag Hooked Shark Ashore By Its Tail',
       'Ferry Capsized',
       'Swimming Underwater From Crayfish Cage To A Fishing Bait',
       '3.3 M Fishing Boat Sank. Treveluwe & Peter Hodgson (Wearing Lifejackets) Were Drifting In The Current',
       'Free Diving For Abalone (Submerged)',
       'Adrift After The Sinking Of The Motor Yacht Princess Dianne',
       'Free Diving (But On Surface)', 'Fishing Boat Swamped In A Storm',
       'Fishing For Kob', 'Fishing For Red Fish', 'Sitting',
       'Swimming Alongside Yacht Mexico Fiesta',
       'Being Pulled To Shore From Wreck Of 25-Ton Fishing Vessel Alan S',
       'Free Diving, Spearfishing', 'Crabbing (Spearing Crabs)',
       'Fishing From Paddleski', 'Scuba Diving & U/W Photography',
       'Sitting In Shallows', 'Free Diving, Collecting Shells',
       'Scuba Diving & Feeding Fish', 'Hookah Diving (Submerged)',
       'Wreck Of The 1689-Ton Portuguese  Coaster Angoche',
       'Fishing For Prawns',
       'Sea Disaster Sinking Of Ferryboat Christina',
       'Motor Launch Baby Princesa Capsized With 22 People On Board',
       'Freediving', 'Attempted To Return Injured Shark To The Sea',
       'Spearfishing / Freediving', 'Washing Cooking Pans',

In [27]:
shark_attack.Activity.value_counts().head(30)

Surfing                           952
Swimming                          456
Spearfishing                      221
Fishing                           178
Wading                            114
Snorkeling                         85
Scuba Diving                       82
Diving                             72
Body Boarding                      64
Standing                           56
Boogie Boarding                    45
Kayaking                           35
Body Surfing                       29
Windsurfing                        19
Kayak Fishing                      14
Free Diving                        14
Walking                            13
Surf Skiing                        13
Sea Disaster                       12
Kite Surfing                       11
Surf-Skiing                        11
Freedom Swimming                    9
Sitting On Surfboard                9
Paddle Boarding                     9
Shark Fishing                       8
Playing                             8
Wade Fishing                        7
Surfing (Sitting On His Board)      7
Canoeing                            7
Surf Fishing                        7
Name: Activity, dtype: int64

In [28]:
shark_attack.Activity.isnull().sum()

225

In [29]:
shark_attack = shark_attack.dropna(subset=['Activity'])

In [30]:
shark_attack.shape

(3267, 7)

In [31]:
# Separar as Atividades em categorias mais importantes

# Surfing
category = lambda x: 'Surfing' if 'Surfing' in x or 'Windsurfing' in x or 'Surf' in x or 'Body Boarding' in x or 'Boogie Boarding' in x else x
shark_attack.Activity = shark_attack.Activity.map(category)

# Swimming
category = lambda x: 'Swimming' if 'Swimming' in x  or 'Swim' in x or 'Snorkeling' in x or 'Floating' in x else x
shark_attack.Activity = shark_attack.Activity.map(category)

# Wading
category = lambda x: 'Wading' if 'Wading' in x or 'Standing' in x else x
shark_attack.Activity = shark_attack.Activity.map(category)

# Diving
category = lambda x: 'Diving' if 'Diving' in x or 'Spearfishing' in x else x
shark_attack.Activity = shark_attack.Activity.map(category)

# Fishing
category = lambda x: 'Fishing' if 'Fishing' in x else x
shark_attack.Activity = shark_attack.Activity.map(category)

# Boating
category = lambda x: 'Boating' if 'Boat' in x or 'Paddling' in x or 'Paddle' in x or 'Kayaking' in x else x
shark_attack.Activity = shark_attack.Activity.map(category)


shark_attack.Activity.value_counts().head(20)

C:\Users\gisiq\anaconda3\lib\site-packages\pandas\core\generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

Surfing           1268
Swimming           630
Diving             517
Fishing            284
Wading             189
Boating             75
Walking             13
Sea Disaster        12
Playing              8
Bathing              7
Canoeing             7
Rowing               6
Treading Water       5
Body-Boarding        4
Freediving           4
Kite Boarding        4
Skindiving           4
Murder               4
Jumping              4
Feeding Sharks       4
Name: Activity, dtype: int64

## Coluna Fatal

In [32]:
shark_attack["Fatal"].unique()

array(['N', 'Y', nan, 'M', '2017', 'UNKNOWN'], dtype=object)

In [33]:
shark_attack.Fatal.isnull().sum()

216

In [34]:
shark_attack.Fatal = shark_attack.Fatal.fillna('No Data')

C:\Users\gisiq\anaconda3\lib\site-packages\pandas\core\generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [35]:
shark_attack['Fatal']=shark_attack['Fatal'].replace({'UNKNOWN':'No Data', 'Unknown':'No Data', 'M':'N', '2017':'No Data'})
shark_attack['Fatal'].unique()

<ipython-input-35-658fbc050b5e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  shark_attack['Fatal']=shark_attack['Fatal'].replace({'UNKNOWN':'No Data', 'Unknown':'No Data', 'M':'N', '2017':'No Data'})

array(['N', 'Y', 'No Data'], dtype=object)

In [36]:
shark_attack['Fatal'].value_counts()

N          2677
Y           359
No Data     231
Name: Fatal, dtype: int64

## Coluna Injury

In [37]:
shark_attack.Injury.isnull().sum()

9

In [38]:
shark_attack.Injury = shark_attack.Injury.fillna('No Data')

C:\Users\gisiq\anaconda3\lib\site-packages\pandas\core\generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [39]:
shark_attack["Injury"].unique()

array(['No injury to occupant, outrigger canoe and paddle damaged',
       'Minor injury to left thigh',
       'Injury to left lower leg from surfboard skeg', ...,
       'No injury, speargun bitten',
       'Recovered, said to involve a 1m nurse shark', 'Left leg injured'],
      dtype=object)

In [40]:
shark_attack['Injury']=shark_attack['Injury'].replace({'No details':'No Data'})

<ipython-input-40-1c6c9f711299>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  shark_attack['Injury']=shark_attack['Injury'].replace({'No details':'No Data'})

In [41]:
# Boat, Boating and Boatomg to 1 category
category = lambda x: 'No injury' if 'No injury' in x or 'No Injury' in x else x
shark_attack.Injury = shark_attack.Injury.map(category)

category = lambda x: 'Injury' if 'laceration' in x or 'lacerations' in x or 'severed' in x or 'bitten' in x or 'Lacerations' in x or 'lacerated' in x or 'Survived' in x or 'Laceration' in x or 'wounds' in x or 'Minor' in x or 'injured' in x else x
shark_attack.Injury = shark_attack.Injury.map(category)

category = lambda x: 'Fatal' if 'Fatal' in x or 'FATAL' in x or 'fatal' in x else x
shark_attack.Injury = shark_attack.Injury.map(category)


shark_attack.Injury.value_counts().head(20)

C:\Users\gisiq\anaconda3\lib\site-packages\pandas\core\generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

Injury                                                                                                               2058
No injury                                                                                                             463
Fatal                                                                                                                 283
No Data                                                                                                                20
Injury to hand                                                                                                          4
Shark bites were post-mortem                                                                                            3
Abrasions                                                                                                               3
Shark involvement prior to death unconfirmed                                                                            3
Cuts on right foot                                                                                                      2
Foot nipped                                                                                                             2
Severe injury to arm                                                                                                    2
Shark involvement prior to death not confirmed                                                                          2
Injuries to right foot                                                                                                  2
Probable drowning with post-mortem bites                                                                                2
Missing, thought to have been taken by a shark                                                                          2
Shark leapt into boat, landed on Hlope's back, then bit his left forearm                                                1
A hoax, no shark involvement                                                                                            1
Injuries to hand and wrist                                                                                              1
Shark jumped in boat, but no injury to occupants                                                                        1
Reported by media as shark attack but forensic evidence indicated the kayaker died prior to any shark involvement       1
Name: Injury, dtype: int64

## Coluna Country

In [42]:
shark_attack.Country.unique()

array(['Usa', 'Australia', 'Mexico', 'Brazil', 'England', 'South Africa',
       'Thailand', 'Costa Rica', 'Maldives', 'Bahamas', 'New Caledonia',
       'Ecuador', 'Malaysia', 'Libya', nan, 'Cuba', 'Mauritius',
       'New Zealand', 'Spain', 'Samoa', 'Solomon Islands', 'Japan',
       'Egypt', 'St Helena, British Overseas Territory', 'Comoros',
       'Reunion', 'French Polynesia', 'United Kingdom',
       'United Arab Emirates', 'Philippines', 'Indonesia', 'China',
       'Columbia', 'Fiji', 'Dominican Republic', 'Cayman Islands',
       'Aruba', 'Mozambique', 'Puerto Rico', 'Italy', 'Atlantic Ocean',
       'St. Martin', 'France', 'Papua New Guinea', 'Trinidad & Tobago',
       'Kiribati', 'Israel', 'Diego Garcia', 'Taiwan',
       'Palestinian Territories', 'Seychelles', 'Belize', 'Jamaica',
       'Nigeria', 'Tonga', 'Scotland', 'Canada', 'Croatia',
       'Saudi Arabia', 'Chile', 'Antigua', 'Kenya', 'Russia',
       'Turks & Caicos', 'United Arab Emirates (Uae)', 'Azores',
       'South Korea', 'Malta', 'Vietnam', 'Madagascar', 'Guam', 'Panama',
       'Somalia', 'Nevis', 'British Virgin Islands', 'Norway', 'Senegal',
       'Yemen', 'Gulf Of Aden', 'Sierra Leone', 'St. Maartin',
       'Grand Cayman', 'Liberia', 'Vanuatu', 'Honduras', 'Venezuela',
       'Sri Lanka', 'Uruguay', 'India', 'Micronesia', 'Caribbean Sea',
       'Okinawa', 'Tanzania', 'Marshall Islands', 'Egypt / Israel',
       'Northern Arabian Sea', 'Hong Kong', 'El Salvador', 'Angola',
       'Bermuda', 'Montenegro', 'Iran', 'Greece', 'Tunisia', 'Namibia',
       'North Atlantic Ocean', 'Portugal', 'South China Sea',
       'Bangladesh', 'Palau', 'Western Samoa', 'Pacific Ocean',
       'British Isles', 'Grenada', 'Iraq', 'Turkey'], dtype=object)

In [43]:
shark_attack.Country.value_counts().head(20)

Usa                 1553
Australia            535
South Africa         343
Brazil                95
Bahamas               81
New Zealand           58
Reunion               53
Mexico                41
New Caledonia         38
Mozambique            25
Egypt                 23
Spain                 21
Italy                 19
French Polynesia      19
Hong Kong             18
Fiji                  18
Philippines           17
Papua New Guinea      14
Tonga                 13
Japan                 13
Name: Country, dtype: int64

In [44]:
shark_attack.Country.isnull().sum()

6

In [45]:
shark_attack.Country = shark_attack.Country.fillna('No Data')

C:\Users\gisiq\anaconda3\lib\site-packages\pandas\core\generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

## Coluna Area

In [46]:
shark_attack.Area.unique()

array(['California', 'Georgia', 'Hawaii', 'New South Wales', 'Colima',
       'Pernambuco', 'Florida', 'Queensland', 'South Carolina',
       'Cornwall', 'Westerm Australia', 'Eastern Cape Province',
       'Hua Hin', 'Cocos Island', 'Western Australia',
       'Alifu Alifu Atoll', 'Western Cape Province', 'New Providence',
       'Alagoas', nan, 'Victoria', 'Kwazulu-Natal',
       'Boi Island, Victoria', 'Galapagos Islands', 'Fernando De Noronha',
       'Sepang', 'Holquin Province', 'Pamplemousses', 'South Australia',
       'North Island', 'New York', 'Canary Islands', 'Upolu Island',
       'Shizuoka Prefecture', 'Texas', 'Castellón', 'Massachusetts',
       'Red Sea Protectorate', 'New Providence District',
       '40 Miles Off Grand Bahama Island', 'Ascension Island', 'Majorca',
       'Washington', 'Tabasco', 'Anjouan', 'Ibiza Island', 'Marquesas',
       'South Devon', 'Sharjah,', 'Baja California Sur', 'Saint-Leu',
       'South Island', 'Luzon Island', 'Great Exuma', 'Saint-Andre',
       'Bimini', 'Bali', 'Tuamotos', 'Oregon', 'North Province',
       'New Providence Island', 'Alicante Province', 'Hong Kong',
       'Kochi Prefecture', 'Tasmania', 'Abaco Islands', 'Alabama',
       'North Carolina', 'Isla Provedencia', 'Suez', 'Grand Terre',
       'Vanua Levu', 'Santa Catarina State', 'South Province',
       'Altagracia Province', 'Grand Cayman', 'Balneário Camboriú',
       'Fujairah Emirate', 'Grand Canary Island', 'Inhambane Province',
       'Phuket', 'Alicante', 'Guanacaste', 'Bora Bora',
       'Grand Bahama Island', 'Le Port', 'Rangiroa',
       'Saint-Gilles-Les-Bains', 'Sardinia', 'Sinaloa', 'Central Tuamotu',
       'D\x92Étang-Salé', 'Granada',
       'Cargados Carajos Shoals (St. Brandon)', 'Moorea', 'Catalonia',
       'Maryland', 'Louisiana', 'West End', 'Delaware',
       'Atsumi Peninsula', 'Palmyra Atoll', 'Wallis And Futuna',
       'Baie De Sainte-Marie', 'Society Islands', 'Trinidad',
       'Okinawa Prefecture', '740 Miles Se Of Tarawa Atoll', 'New Jersey',
       'Southern District', 'Bay Of Biscay', 'Quintana Roo',
       'Exuma Islands', 'Saint-Paul', 'Taitung', 'Santa Cruz Island',
       'Saint-Gilles', 'Tuamotus', 'Eleuthera', 'St. Catherine',
       'Palawan', 'Mercury Islands', 'Delta', "Vava'U", 'Inner Hebrides',
       'Saint Leu', 'Trois-Bassins', 'British Colombia', 'Guerrero',
       'Saint-Benoit', 'Tabuk Province', 'Antofagasta Province',
       "St John'S", 'Santa Elena', 'East New Britain', 'Bois-Blanc',
       'Moray', 'Puerto Rico', 'Samaná Province', 'Coast Province',
       'Central Province', 'Primorsky Krai',
       'Peter The Great Bay, Khasan, Primorsky Krai (Far East)',
       'Telyakovsky Bay, Khasan,  Primorsky Krai (Far East)', 'Praslin',
       'Sucre', 'Middle Caicos', 'Caicos Bank', 'San Andrés Archipelago',
       'Kedah', 'Umm Al Qaywayan Province', 'Vitu Levu',
       'Loyalty Islands', 'Saint Gilles', 'South Sinai Peninsula',
       'Maine', 'Virginia', "Ha'Api", 'Jeju Province',
       'Binh Dinh Province', 'Antsiranana Province', 'Sinai Peninsula',
       'Off Vanua Levu', 'Merizo', 'Rio Grande Do Sul', 'Dubai',
       'Western Province', 'Torres Strait', 'Eastern Province',
       'Eastern Cape  Province', 'Maputo Province', 'Bocas', 'Fife',
       'Devon', 'Makira-Ulawa Province', 'Mombasa', 'Catalunya',
       'St. Johns Reef', 'Off Green Island', 'North Region',
       'Batangas Province', 'Strait Of Malacca', 'Guantanamo Province',
       'Maranhão', 'Red Sea', 'Batanes Provine', 'Luzon',
       'Northern Territory', 'Split-Dalmatia Count,', 'North Devon',
       'Us Virgin Islands', 'San Carlos', 'Cabo San Lucas', 'Sussex',
       'Bahia', 'Easter Ross', 'Guerro', 'Yasawa Islands',
       'Northern Bahamas', 'Tokyo Bay', 'Baja California', 'Green Bay',
       'Marovo Lagoon', 'Territory Of Cocos (Keeling) Islands',
       'Oslo Fjord', 'Kent', 'Bird Island', 'Providenciales',
       'Bimini Islands', 'Muhafazat Hadramawt', 'Cook Islans',
       'Surigao Del Norte', 'Between Somalia & Yemen', 'Ambergris Caye',
       'Saint-Pierre', 'Kentucky', 'Andros Islands', 'Guam',
       'Western Area', '300 Miles From Antigua', '800 Miles From Land',
       '600 Nm West Of The Canary Islands', 'Simpson Bay', 'East Wall',
       'Inner Islands', 'Shanghai', 'Malampa Province',
       "South Ch'Ungch'Ong Province", 'Bay Islands', 'New Mexico',
       'Santa Isabel Province', 'Santiago De Cuba Province',
       'Camaguey Province', 'Conservatória District',
       'Kuril Islands In The Pacific', 'Wakayama Prefecture',
       "Nuku'Alofa", 'Saint-Benoît',
       'South Island, Near Karitane North Of Dunedin', 'Rocha',
       'Northlands', 'Anzoategui', 'Cook Islands', 'Tamil Nadu',
       'Pearl Islands', 'Taveuni', 'Johnston Atoll', 'Rio De Janeiro',
       'Nueva Esparta', 'Southland', 'North Pacific Coast',
       'Caroline Islands', 'Cheshire', 'Louisiade Archipelago',
       'Kwazulu-Natal Between Port Edward And Port St Johns',
       'Milne Bay Province', 'Rayong Province',
       'Zamboanga Del Sur Province', 'Rio Grande De Norte',
       'Off The Western Coast Of Peninsular Malaysia', 'New Brunswick',
       'Miyako Island', 'Alaska', 'Minerva Reef', 'Madang Province',
       'Worcestershire', 'Phang Nga Province', 'Alinglaplap Atoll',
       'Adriatic Sea', 'Ralik Chain', 'Grand Baie',
       "L' Etang Salé-Les-Bains", 'Southern Japan', 'Cap Vert Peninsula',
       'Marches Region', 'Berry Islands', 'Transvaal', 'Gaza',
       "Grand'Anse", 'Beaufonds', 'Miyako', 'Chatham Islands',
       'South Sinai, Gulf Of Aqaba', 'Cat Cay', 'Missouri',
       '12 Miles Off The North Coast',
       'Chatham Islands, East Of New  Zealand', 'Saint-Denis',
       'Vava\x92U', 'Mississippi', 'Clearwater Bay', 'New Territories',
       'Aichi Prefecture', 'Banaadir Region', 'La Libertad',
       'Costa Blanca', 'Walkers Cay', 'Tongapatu Group', 'West Africa',
       'Wakaya Island', 'Ehime Prefecture', 'Saint-Joseph',
       'Mexico / Caribbean Sea', 'Antarctic Ocean', 'La Saline-Les-Bains',
       'Ligurian Sea', "L'Etang-Salé", 'Kowloon Peninsula',
       'Port Shelter', 'Laucala Island', 'Sainte-Marie',
       'Great Exuma Island', 'Sainte-Suzanne', 'Tuscany',
       'Tyrrhenian Sea', 'New Ireland', 'Valpariso Province',
       'Viscayan Sea', 'Saint-Louis', 'Mindoro',
       'Between Dr And Puerto Rico', 'Between Honiara & Isabel Island',
       'Florida Straits', 'Cádiz', 'Sicily', 'Andikira Fokithes',
       'Central Philippines', 'Rhode Island', 'Northwest Italy',
       'English Channel', 'North & South Carolina', 'Biserta',
       'Saint-Philippe', 'Chungnam', 'Eronogo Region', 'Coquimbo',
       'Pagasitikos Gulf', "St. Mary'S Parish", 'Romblon Province',
       'Lamu Archipelago', 'Los Vilos', 'Island Of Kos',
       'Madeira Islands', 'Southern Thailand', 'Ralik Archipelago',
       'South China Sea 200 Miles From Hong Kong',
       'Reggio Calabria Province', 'Mirs Bay', 'Genoa Province',
       'Ganges-Brahmaputra Delta', 'Aulong Island',
       'Western Caroline Islands', 'Antibes', 'Illeginni Atoll',
       'Istria County', 'Between Beira & Maputo', 'Inhambe Province',
       'Namonuito Atoll', 'Eastern Caroline Islands',
       'Western Caroline Islands (North Pacific Ocean)', 'Caribbean Sea',
       'St. Andrew Parish', '200 Nm Southeast Of Manila', 'Limpopo River',
       'New Ireland Province', 'Zadar County', 'Basrah', 'Clarendon',
       'Moro Gulf', 'Johor', 'Magdalena Department', 'Mafia Island',
       'Gulf Province', 'Morobe Province', 'Limón Province', 'Anatolia'],
      dtype=object)

In [47]:
shark_attack['Area'].value_counts().head(30)

Florida                  827
Hawaii                   207
California               203
New South Wales          190
Western Cape Province    130
Queensland               115
Eastern Cape Province    114
Western Australia        110
South Carolina            93
Kwazulu-Natal             90
North Carolina            76
Pernambuco                67
South Australia           52
Texas                     44
Victoria                  38
Oregon                    29
North Island              24
Abaco Islands             21
South Island              21
Tasmania                  17
South Province            11
Alabama                   10
Grand Bahama Island       10
Virginia                  10
Quintana Roo              10
Rio De Janeiro            10
North Province             9
Gaza                       9
Guerrero                   9
Massachusetts              8
Name: Area, dtype: int64

In [48]:
shark_attack.Area.isnull().sum()

127

In [49]:
shark_attack.Area = shark_attack.Area.fillna('No Data')

C:\Users\gisiq\anaconda3\lib\site-packages\pandas\core\generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

## Coluna Type
Types of attack

- PROVOKED
Provoked attacks occur when a human touches, hooks, nets, or otherwise aggravates the animal. Incidents that occur outside of a shark's natural habitat, such as aquariums and research holding-pens, are considered provoked, as are all incidents involving captured sharks. Sometimes humans inadvertently provoke an attack, such as when a surfer accidentally hits a shark with a surf board.

- UNPROVOKED
Hit-and-run attack
Sneak Attack
Bump-and-bite attack

Font: https://en.wikipedia.org/wiki/Shark_attack#Types_of_attacks

In [50]:
shark_attack.Area.isnull().sum()

0

In [51]:
shark_attack.Type.value_counts()

Unprovoked      2581
Provoked         247
Invalid          230
Boating           90
Boat              61
Sea Disaster      53
Questionable       2
Boatomg            1
Name: Type, dtype: int64

In [52]:
shark_attack.Type = shark_attack.Type.replace({'Boating' : 'Boat', 'Boatomg': 'Boat', 'Invalid':'No Data', 'Questionable':'No Data'})
shark_attack.Type.value_counts()

C:\Users\gisiq\anaconda3\lib\site-packages\pandas\core\generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

Unprovoked      2581
Provoked         247
No Data          232
Boat             152
Sea Disaster      53
Name: Type, dtype: int64

# Exportando csv limpo

In [53]:
shark_attack.to_csv("../../shark_project/shark_attack/attacks_clean.csv", encoding='latin1', index = False)